@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-grey-3 font-primary text-base leading-relaxed mx-auto;
  }
  .section {
    @apply py-[50px] lg:py-[70px];
  }
  .title {
    @apply text-2xl lg:text-[40px] leading-tight font-semibold mb-4;
  }
  .subtitle {
    @apply text-[18px] lg:text-[20px] leading-relaxed mb-5 lg:mb-9;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-inner-spin-button,
  inputt::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .greenColor{
    color: green;
  }
  .redColor {
    color: red;
  }
  .page-item {
    background-color: rgba(255,255,255);
    border: 1px solid rgba(0,0,0,0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .pagination {
    display: flex;
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    font-weight: 300;
    color: rgba(80, 80, 80);
    transition: all 0.3s;
  }
  .page-item:hover {
    background-color: rgba(230, 230, 230);
  }
  .page-item:hover .page-link {
    color: rgba(80, 80, 80);
  }
  .pageItemActive {
    background-color: rgb(40 111 108);
  }
  .pageLinkActive {
    color: white;
  }
  .signUpForm {
    transform: translateY(-100%) translateX(-100vmax);
  }

  .shiftToLeft {
    transform: translateX(-100%);
  }
  .shiftToNeutral {
    transform: translateX(0%);
  }
  
  .shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
  }
  
  .shiftToRight {
    transform: translateX(100%);
  }
  
.emptyCart > svg {
  font-size: 5vmax;
}
.emptyCart > p {
  font-size: 2vmax;
}
.MuiStepConnector-line {
  display: none !important;
}

.MuiStepConnector-root {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.349);
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  background-color: tomato;
}
.confirmshippingArea > p {
  font-weight: 400;
  font-size: 1.8vmax;
}

.confirmCartItems > p {
  font-weight: 400;
  font-size: 1.8vw;
}
.orderSummary > p {
  text-align: center;
  font-weight: 400;
  font-size: 1.8vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  padding: 1vmax;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
.paymentForm > p {
  font-weight: 400;
  font-size: 2vmax;
  color: rgba(0, 0, 0, 0.753);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: 1vmax 0;
  text-align: center;
  width: 50%;
  margin: auto;
}
.orderSuccess > p {
  font-size: 2vmax;
}
.orderSuccess > svg {
  font-size: 7vmax;
}
#myOrdersHeading {
  text-align: center;
  font: 400 1.2vmax "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-color: rgb(40, 100, 80);
}
.myOrdersTable div {
  font: 300 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.678);
  border: none;
}

.myOrdersTable a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.myOrdersTable a:hover {
  color: tomato;
}

.MuiDataGrid-columnHeader {
  background-color: tomato;
  padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
  font-weight: 500 !important;
  font-size: 1.1vmax;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

.orderDetailsContainer > h1 {
  font-weight: 300;
  font-size: 3vmax;
  margin: 4vmax 0;
  color: tomato;
}
.orderDetailsContainer > p {
  font-weight: 400;
  font-size: 1.8vmax;
}

.orderDetailsCartItems > p {
  font: 400 1.8vmax "Roboto";
}

.submitDialog {
  display: flex;
  flex-direction: column;
}
.submitDialogTextArea {
  border: 1px solid rgba(0, 0, 0, 0.082);
  margin: 1vmax 0;
  outline: none;
  padding: 1rem;
  font: 300 1rem "Roboto";
}
.reviewCardComment {
  color: rgba(0, 0, 0, 0.836);
  font-weight: 600;
  font-size: 0.9vmax;
}


@media screen and (max-width: 600px) {
  .confirmshippingArea > p {
    font-weight: 400;
    font-size: 4vw;
  }
  .confirmCartItems > p {
    font-weight: 400;
    font-size: 4vmax;
  }
  
  .orderSummary > p {
    font-weight: 400;
    font-size: 6vw;
    padding: 4vw;
  }
  .paymentForm > p {
    font-weight:400;
    font-size: 8vw;
    padding: 4vw 0;
    width: 60%;
  }
  .orderSuccess > p {
    font-size: 3vmax;
  }
  
  #myOrdersHeading {
    font: 400 2.2vmax "Roboto";
    padding: 4vw;
  }

  .myOrdersTable div {
    font: 300 4vw "Roboto";
  }

  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }

  .MuiDataGrid-columnHeader div {
    font: 500 5vw "Roboto" !important;
  }

  .orderDetailsContainer > p {
    font-size: 6vw;
  }
  .orderDetailsCartItems > p {
    font-size: 6vw;
  }

}

}
