@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-grey-3 font-primary text-base leading-relaxed mx-auto;
  }
  .section {
    @apply py-[50px] lg:py-[70px];
  }
  .title {
    @apply text-2xl lg:text-[40px] leading-tight font-semibold mb-4;
  }
  .subtitle {
    @apply text-[18px] lg:text-[20px] leading-relaxed mb-5 lg:mb-9;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-inner-spin-button,
  inputt::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .greenColor{
    color: green;
  }
  .redColor {
    color: red;
  }
  .page-item {
    background-color: rgba(255,255,255);
    border: 1px solid rgba(0,0,0,0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .pagination {
    display: flex;
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    font-weight: 300;
    color: rgba(80, 80, 80);
    transition: all 0.3s;
  }
  .page-item:hover {
    background-color: rgba(230, 230, 230);
  }
  .page-item:hover .page-link {
    color: rgba(80, 80, 80);
  }
  .pageItemActive {
    background-color: rgb(40 111 108);
  }
  .pageLinkActive {
    color: white;
  }
.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}
.emptyCart > svg {
  font-size: 5vmax;
}
.emptyCart > p {
  font-size: 2vmax;
}
}
